{% extends 'base.html' %}
{% block css %}
<style>
img {
    background: #ffc0c0;
    padding:7px;
    border-radius: 80%;
}
</style>
{% endblock css %}
{% block title %}About - Becoder {% endblock title %}

{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}
<div class="container">
<u><h3 class="my-3">About Me!</h3></u>
<p class="my-3">Hello My Name is Ayush Tripathi and my aim is to become CEO of Google in my life and that's why I make this blog through coding. My Main Purpose to make this blog is to spread awareness on coding and programming, Because Programming is needed to make a logical mind and It is needed in this world. I hope that you will this blog and articles related to programming. If you want to donate my work through paytm, here is my paytm number : +916307766917. If you have any problem, please contact me just by clicking <a href="/contact">here</a>. You can also give suggestions related to this blog to me. If you want to learn Data Structures and Algorithmes, Please Check out this youtube channel<a href="https://www.youtube.com/channel/UCeVMnSShP_Iviwkknt83cww"> here</a>.</p>
</div>
{% endblock body %}
