<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!--Typed.js-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js"></script>
  {% block css %}
  {% endblock css %}
  <title>{% block title %} {% endblock title %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    <img src="/static/img/logo.png" width="45" height="45" alt="logo" loading="lazy">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  font-weight-bold {% block homeactive %}{% endblock homeactive %}">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item font-weight-bold {% block blogactive %}
      {% endblock blogactive %}">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item font-weight-bold {% block aboutactive %}
      {% endblock aboutactive %}">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item font-weight-bold {% block contactactive %}
      {% endblock contactactive %}">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <div class="ml-auto form-inline">
      <form class="my-2 my-lg-0" method="get" action="/search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
          id="query">
        <button class="btn btn-success mr-2 my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-2">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome, {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      </ul>
      {% else %}
      <div>
      <!-- Button to trigger Signup Modal -->
      <button type="button" class="btn btn-danger ml-1" data-toggle="modal" data-target="#SignupModal">
        Sign Up
      </button>
      <!-- Button to trigger Login Modal -->
      <button type="button" class="btn btn-danger ml-1" data-toggle="modal" data-target="#LoginModal">
        Login
      </button>
      </div>
      {% endif %}
      </div>
    </div>
  </nav>
  {% for messages in messages %}
  <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{messages}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}



  <!-- SignUp Modal -->
  <div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="SignupModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SignupModal">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username" aria-describedby="username" required>
            </div>
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" name="fname" id="fname" aria-describedby="fname" required>
            </div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" name="lname" id="lname" aria-describedby="lname" required>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="email" required>
            </div>
            <div class="form-group">
              <label for="pass1">Choose a Password</label>
              <input type="password" class="form-control" name="pass1" id="pass1" required>
            </div>
            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input type="password" class="form-control" name="pass2" id="pass2" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Login Modal -->
  <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LoginModal">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login" method="post">
          {% csrf_token %}
            <div class="form-group">
              <label for="loginusername">Username</label>
              <input type="text" class="form-control" name="loginusername" id="loginusername" aria-describedby="loginusername" required>
            </div>
            <div class="form-group">
              <label for="loginpass">Password</label>
              <input type="password" class="form-control" name="loginpass" id="loginpass" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% block body %}
  {% endblock body %}
  {% block js %}
  {% endblock js %}
  {% block typedtextjs %}
  {% endblock typedtextjs %}
  <!-- Optional JavaScript -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>